ul {
  list-style: initial !important;
}

.card {

  h3,
  h4 {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
    color: var(--fgColor-default);
  }

  p {
    display: flex;
    overflow-x: auto;
    align-items: flex-start;
    gap: .25em;
  }
}